<div class="container">
  <div class="row">
    <div class="span6">
      <h2 class="page-header">
        Projects
        <a href="#projectCreate" class="btn btn-success btn-mini pull-right" data-toggle="modal"><i class="icon-plus"></i> Add New Project</a>
      </h2>

      <div class="projects-container">

        <% @projects["data"].each do |item| %>
        <div class="project" data-gauge-id="<%= item["project"]["gauges_id"] %>" style='background-color: <%= item["project"]["color"] %>'>
          <h3><%= item["project"]["name"] %></h3>
          <div class="clearfix"></div>
          <small><%= item["project"]["description"] %></small>
          <p class="stat">
            0
            <span class="people">0 <i class="icon-group"></i></span>
          </p>
          <a href="/project/detail/<%= item["project"]["project_code"] %>" class="detail"><i class="icon-bar-chart"></i></a>
        </div>
        <!--/ .project -->
        <% end %>

      </div>
      <!--/ .projects-container -->

    </div>
    <!--/ .span6 -->

    <div class="span6">
      <h2 class="page-header">
        Exceptions
        <a href="#" class="btn btn-info btn-mini pull-right"><i class="icon-reorder"></i> View All Exceptions</a>
      </h2>

      <ul class="exceptions">
        <% @exceptions["data"].each do |item| %>
          <li>
            <span class="label label-info"><%= item["exception"]["project_code"] %></span>
            <span class="title"><%= item["exception"]["class_name"] %></span>
            <span class="description"><%= item["exception"]["friendly"] %></span>
            <span class="date"><%= item["exception"]["thrown_date"] %></span>
          </li>
        <% end %>
      </ul>
    </div>
    <!--/ .span6 -->
  </div>
  <!--/ .row -->
</div>
<!--/ .container -->

<!-- Modal -->
<div id="projectCreate" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><i class="icon-plus"></i> Add a new project</h3>
  </div>
  <form class="form-horizontal" method="POST" action="/project/create">
    <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="project_code">Project Code : </label>
        <div class="controls">
          <input type="text" name="project_code" id="project_code" />
        </div>
      </div>
      <!--/ .control-group -->

      <div class="control-group">
        <label class="control-label" for="name">Project Name : </label>
        <div class="controls">
          <input type="text" name="name" id="name" />
        </div>
      </div>
      <!--/ .control-group -->

      <div class="control-group">
        <label class="control-label" for="description">Description : </label>
        <div class="controls">
          <input type="text" name="description" id="description" />
        </div>
      </div>
      <!--/ .control-group -->

      <div class="control-group">
        <label class="control-label" for="logo">Logo : </label>
        <div class="controls">
          <input type="text" name="logo" id="logo" />
        </div>
      </div>
      <!--/ .control-group -->

      <div class="control-group">
        <label class="control-label" for="color">Color : </label>
        <div class="controls">
          <input type="text" name="color" id="color" />
        </div>
      </div>
      <!--/ .control-group -->

      <div class="control-group">
        <label class="control-label" for="guages_id">Gauges ID : </label>
        <div class="controls">
          <input type="text" name="gauges_id" id="guages_id" />
        </div>
      </div>
      <!--/ .control-group -->
    </div>
    <div class="modal-footer">
      <button class="btn btn-mini btn-warning" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-mini btn-success" type="submit">Add New Project</button>
    </div>
  </form>
</div>
<% content_for :scripts do %>
  <script src="/assets/underscore-min.js"></script>
  <script src="/assets/index.js"></script>
<% end %>
